<phpunit bootstrap="vendor/autoload.php"
         executionOrder="random"
         resolveDependencies="true"
         forceCoversAnnotation="false"
         colors="true">

    <testsuites>
        <testsuite name="Main">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
