name: CI

on:
  pull_request:
  push:
    branches:    
      - master

jobs:

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.1, 7.2, 7.3, 7.4]
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Validate composer.json
        run: composer validate --strict

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction --no-suggest --no-progress

      - name: Execute tests
        run: php vendor/bin/phpunit
