name: CI

on:
  pull_request:
  push:
    branches:    
      - master

jobs:

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['7.3', '7.4']
        dependencies: ['']
        include:
          - { php-version: '8.0', dependencies: '--ignore-platform-req=php' }
    
    continue-on-error: ${{ matrix.php-version == '8.0' }}
    name: PHP ${{ matrix.php-version }} ${{ matrix.dependencies }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          tools: composer:v2

      - name: Validate composer.json
        run: composer validate --strict

      - name: Install dependencies
        run: |
          composer remove --no-update --dev --no-interaction --no-progress \
            phan/phan phpstan/phpstan vimeo/psalm \
            infection/infection friendsofphp/php-cs-fixer \
            php-coveralls/php-coveralls
          composer update --prefer-dist --no-interaction --no-suggest --no-progress ${{ matrix.dependencies }}

      - name: Execute tests
        run: php vendor/bin/phpunit
